.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .abc{
    height: 100px;
    width: 100px;
    background-color: #ff758f;
    position: relative;
    transform: rotate(45deg);
    animation: animate 1.5s ease-out infinite;
    position: absolute;
    z-index: -1;
    
    &:before, &:after{
      position: absolute;
      content: '';
      height: 100px;
      width: 100px;
      background-color: #ff758f;
      border-radius: 50%;
    }
    
    &:before{
      left: -50px;
    }
    
    &:after{
      top: -50px;
    }
  }
  
  @keyframes animate{
    0%,80%,100%{
      transform: rotate(45deg) scale(1);
    }
    15%,35%,55%{
      transform: rotate(45deg) scale(1.08);
    }
    30%,40%{
      transform: rotate(45deg) scale(1.2);
    }
  }